body {
	background-color: powderblue;
	font-family: verdana;
	<!background-image: url("wave.gif")>
	
}
h1 {
	color:blue; text-align:center;
}
h2 {
	color:orange; text-align:center;
}
h3 {
	color:gray; text-align:center;
}
h6 {
	text-align:center;
	border: 1px solid white;
	padding: 10px;
}
p {
	
}
a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}